.chat {
  font-size: 16px;

  strong {
    font-weight: 700;
  }

  &-area {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-input {
      flex: 3;
      font-size: 14px;
      padding: 4px;
      padding-left: 8px;
    }

    button {
      margin-bottom: 0px !important;
      flex: 1;
      margin-right: 0px;
      margin-left: 12px;
    }
  }

  .bountied-chat-area {
    margin-top: 12px;

    .nav-link {
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
      &:hover {
        color: #383c31
      }

      img.symbol-image {
        height: 1em;
        width: 1em;
        bottom: 2px;
        position: relative;
      }
    }
    .tab-content {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .bountied-chat-input {
      margin-bottom: 16px;
    }

    .qr-code-collapsible {

      .qr-code-wrapper {
        justify-content: center;
        flex: 1;
        display: flex;
      }
    }
  }
}