.invalid-feedback,
.valid-feedback {
  display: block !important;
  margin-top: 0.25rem !important;
  font-size: 80% !important;
}

.auth-wrapper {
  a,
  p > a {
    color: $theme-background;
  }
  button.login {
    min-width: 100px;
  }

  button.signup {
    min-width: 100px;
  }

  .auth-logo-wrap {
    padding: 0 30px;
  }
}

input {
  color: #686c71;

  &.disabled:hover {
    cursor: not-allowed;
  }
}
