.user-account {
  img.banner {
    height: 200px;
    width: 800px;
  }

  .input-group-text {
    img.telos-logo {
      height: 1rem;
    }
  }

  .confirmation-status {
    text-transform: capitalize;
  }
}
