#view-video {
  #video-wrapper {

    .card-body {
      padding: 0px;

      #primary-video {
        margin-bottom: 20px;
      }

      .primary-video-info {
        padding: 20px;
        flex: 1;

        &-upper {
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: space-between;

          .votes {
            display: flex;
            flex-direction: row;

            .vote-icon-wrap {
              flex-direction: row;
              display: flex;
              align-items: center;

              &:first-child {
                margin-right: 12px;
              }

              i.vote-icon:first-child {
                margin-right: 12px;
                &:hover {
                  color: #00cc00;
                }
              }

              &:nth-child(2) {
                i.vote-icon:hover {
                  color: red;
                }
              }
              .vote-icon {
                font-size: 24px;
                margin-right: 8px;
                cursor: pointer;
              }

              .vote-count {
                display: block;
                height: 1rem;
                bottom: 2px;
                position: relative;
                min-width: 40px;
              }
            }
          }
        }

        .lower {
          display: flex;
          flex-direction: 'row';

          .left {
            img.user-avatar {
              width: 64px;
              border-radius: 50%;
            }
          }

          .right {
            padding: .6rem 1rem;

            h5 {
              margin-bottom: .2rem;

              .channel-link {
                color: #333333;
              }
            }
          }
        }
      }
    }
  }
}

#view-video-header .card .card-header h5 {
  font-size: 28px;
}
