#view-video {
  #video-wrapper {


    .card {

      .card-body {
        padding: 0px;

        #primary-video {
          margin-bottom: 20px;
        }

        #primary-video-info {
          padding: 20px;
        }
      }
    }
  }
}

#view-video-header .card .card-header h5 {
  font-size: 28px;
}
