#view-video {
  #video-wrapper {
    .card-body {
      padding: 0px;

      .disabled-video-placeholder {
        width: 100%;
        padding-top: 56.25%;

        .repositioned-placeholder {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0;
          left: 0;
          bottom: 100%;
          right: 0;
          padding-top: 27%;
          .icon-video {
            font-size: 1000%;
          }
        }
      }
      .progress {
        height: 1.4rem;
        font-size: 0.8rem;
      }

      #primary-video {
        margin-bottom: 20px;
      }

      .primary-video-info {
        padding: 20px;
        flex: 1;

        .upper {
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: flex-end;

          .votes {
            display: flex;
            flex-direction: row;

            .vote-icon-wrap {
              flex-direction: row;
              display: flex;
              align-items: center;

              &:first-child {
                margin-right: 12px;
              }

              i.vote-icon:first-child {
                margin-right: 12px;
                &:hover {
                  color: #00cc00;
                }
              }

              &:nth-child(2) {
                i.vote-icon:hover {
                  color: red;
                }
              }
              .vote-icon {
                font-size: 24px;
                margin-right: 8px;
                cursor: pointer;
              }

              .vote-count {
                display: block;
                height: 1rem;
                bottom: 2px;
                position: relative;
                min-width: 40px;
              }
            }
          }
        }

        .lower {
          display: flex;
          flex-direction: 'row';
          padding-top: 1rem;

          .left {
            img.user-avatar {
              width: 64px;
              height: 64px;
              border-radius: 50%;
              padding: 0.1rem;
            }
          }

          .right {
            padding: 0.6rem 1rem;

            h5 {
              margin-bottom: 0.2rem;

              .channel-link {
                color: $dark-color;

                .dark-demo & {
                  color: $light-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

#view-video-header .card .card-header h5 {
  font-size: 28px;
}
