$title-line-height-small: 1.5em;
$title-line-height-large: 2em;

$description-line-height: 1.5em;

// below-480px first
.recently-viewed-thumbnail {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  float: left;
  padding: 12px;

  &-image {
    flex: 1;
    height: auto;

    &-content {
      width: 100%;
    }
  }

  &-info {
    flex: 1;
    height: 100px;
    padding-top: 6px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-between;

    &-text {
      &-title-area {
        height: 2 * $title-line-height-small;
        overflow: hidden;
        margin-bottom: .3em;

        &-content {
          font-weight: bold;
          font-size: 1.1em;
        }
      }

      &-user {
        margin-top: 10px;
      }

      &-description {
        display: none;
        line-height: $description-line-height;
        margin-top: 8px;

        &-break {
          display: none;
        }
      }

      &-views {

      }

      &-time {

      }
    }
  }

  &-thumbnail {

  }
}

@media only screen and (min-width: 640px) and (max-width:992px) {
  .recently-viewed-thumbnail {

    &-image {
      width: 240px;
      flex: none;
    }

    &-info {

      &-text {
        &-description {
          display: block;
          overflow: hidden;
          height: $description-line-height * 2;

          &-break {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 993px) and (max-width:1200px) {
  .recently-viewed-thumbnail {

    &-image {
      width: 280px;
      flex: none;
    }

    &-info {

      &-text {
        &-description {
          display: block;
          overflow: hidden;
          height: $description-line-height * 2;

          &-break {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1201px) {
  .recently-viewed-thumbnail {

    &-image {
      width: 320px;
      flex: none;
    }

    &-info {

      &-text {

        &-title-area {
          height: $title-line-height-large * 1;

          &-content {
            font-size: 1.4em;
          }
        }

        &-description {
          display: block;
          overflow: hidden;
          height: $description-line-height * 4;

          &-break {
            display: block;
          }
        }
      }
    }
  }
}
